<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.capstone_project">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name=".data.ArticleProvider"
            android:authorities="com.example.android.capstone_project"
            android:exported="false" />

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".http.GetArticlesListService" />

        <activity android:name=".ui.WebViewActivity"
            android:parentActivityName=".ui.MainActivity"/>
        <activity
            android:name=".ui.SearchActivity"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <receiver android:name=".ui.widget.ApiNewsStandWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/api_news_stand_widget_info" />
        </receiver>

        <activity android:name=".ui.widget.ApiNewsStandWidgetConfigureActivity"
            android:parentActivityName=".ui.MainActivity">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <service android:name=".ui.widget.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>
    </application>

</manifest>